{% extends 'base.html' %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create</a>
    </li>
    <li class="nav-item">
        {% include 'partial/search.html' %}
    </li>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Issues</h1>
        {% for issue in issues %}
             {% include 'partial/cards.html' %}
        {% endfor %}
        <p></p>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}